body {
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(to bottom right , #403F44, #1e1b32);
    height: 100vh;
    font-family: cursive;
    color: white;
}

main {
    background-color: rgba(27, 27, 27, 0.35);
    border-radius: 20px;
    border: 1px solid rgba(0, 0, 0, 0.35);

    display: flex;
    flex-direction: column;
    gap: 1px;
}

.above-chat-view-text {
    font-size: 8px;

    display: flex;
    flex-direction: column;
    align-items: center;
}

.chat-view {
    display: flex;
    flex-direction: column;
    height: 400px;
    width: 600px;
    padding: 15px;
    border-radius: 25px;
    overflow-y: auto; 
}

.chat-view::-webkit-scrollbar {
    width: 0px;
}

.human {
    text-align: right;
    background-color: rgba(0, 0, 0, 0.15);
    padding: 5px 15px;
    border-radius: 20px;
}

.ai {
    text-align: left;
    max-width: 50vh;
    padding: 5px 15px;
}

.send-msgs {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0);
    border-radius: 20px;
    width: 100%;
    padding: 15px;
}

.box {
    display: flex;
    justify-content: center;
    border-radius: 30px;
    width: 500px;
}

input {
    padding: 15px;
    width: 100%;
    border-radius: 30px;
    background-color: rgba(27, 27, 27, 0.35);
    border: 1px solid black;
}
.btn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: rgba(27, 27, 27, 0.35);
    border: 1px solid black;
}

.buttons {
    display: flex;
    gap: 15px;
    padding: 15px;
}
